.wrap {
  composes: clearfix from '../util/index.module.css';
  margin-top: 20px;
  text-align: right;
}

.size-selector {
  float: left;
}

.jumper {
  float: right;
  margin-left: 24px;
}

.list {
  display: inline-block;
}
