.wrap {
}

.date-picker {
  box-sizing: border-box;
  width: 170px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  background-color: #FFF;
  overflow: hidden;
  box-shadow: 2px 2px 5px rgba(83, 100, 122, 0.35);
}

.header {
  composes: clearfix from '../util/index.module.css';
  border-bottom: 1px solid #e7e7e7;
  line-height: 28px;
  text-align: center;
}

.footer {
  border-top: 1px solid #e7e7e7;
  line-height: 28px;
  text-align: center;
}

.footer .selector {
  display: block;
  font-size: 12px;
}

.arrow {
  display: inline-block;
  width: 28px;
  height: 28px;
  color: #666;
  text-align: center;
  vertical-align: middle;
}
.arrow:hover {
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

.prev {
  composes: arrow;
  float: left;
}

.next {
  composes: arrow;
  float: right;
}

.selector {
  display: inline-block;
  padding: 0 8px;
  color: #333;
  vertical-align: middle;
}

.selector:hover {
  background-color: #e7e7e7;
  cursor: pointer;
}

.selector-icon {
  display: inline-block;
  margin-left: 2px;
  color: #999;
  font-size: 12px;
}

.table {
  width: 100%;
  font-size: 12px;
  vertical-align: middle;
  text-align: center;
  table-layout: fixed;
  border-collapse: collapse;
}

.cell {
  cursor: pointer;
}

.cell:hover {
  background-color: #e7e7e7;
}

.cell-current {
  font-weight: bold;
}

.cell-disabled {
  color: #ddd;
  cursor: default;
}

.cell-disabled:hover {
  background-color: #fff;
}

.year-table {
  composes: table;
}

.year-table .cell {
  height: 42px;
}

.month-table {
  composes: table;
}

.month-table .cell {
  height: 42px;
}

.date-table {
  composes: table;
}

.date-table .cell {
  height: 24px;
}

.cell-head {
  composes: cell-disabled;
  font-weight: bold;
  color: #333;
}
