.wrap {
  display: inline-block;
  position: relative;
}

.menu {
  position: absolute;
  min-width: 100%;
  overflow-y: auto;
  max-height: 970%;
}

.menu-closed {
  composes: menu;
  display: none;
}

.menu-opened {
  composes: menu;
  display: block;
}
